body.posts.search{
  .friendpost{
    display:flex;
    flex-direction: row;
  }
  .fpost{
    width: 17rem;
    margin-right: 3%;
  }
  .b1{
    margin-left: 4%
  }
  .xyz{
    border-radius: 50%;
  }
  .user_info{
    margin-left: 2%;
    margin-top: 2%;
  }

}
