body.welcome.index{
  background-color: #f7f7f7;
  .post{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 20%;
  }
  .mypost{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0%;
  }
  .card{
    width: 18rem;
    margin-top: 5%;
    margin-right: 2%;
  }
}
